<h1>Album App</h1>
<p class="subtitle">Using this app you can:</p>

<div class="about-text">
    <h2>View existing albums</h2>
    <img src="photos.png">
    <p>By navigating to the albums page, you can view various albums posted by our users! Look at all of the 
        photos in detail and high quality!
    </p>
    <h2>Create your own albums!</h2>
    <img src="photo-album.png" alt="">
    <p>Using the albums page, it is also possible to create your own albums. So, get creative and have fun!</p>
</div>





