<div class="product-card-container">
    <div class="product-remove-button" (click)="deleteProduct()">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16" >
            <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"/>
        </svg>
    </div>

    <div class="image-container">
        <img [ngSrc]="product.imageUrl" height="150" width="150">
    </div>
    
    <div class="product-card-info">


        <div class="product-name-like-container">
            <h3>{{ product.name }}</h3>
            <app-like-button 
                [productId]=product.id 
                [likes]=product.number_of_likes
                (likesChanged)="updateLikes($event)"
            >
            </app-like-button>
        </div>
        
        @for (item of product.description.split('. '); track $index) {
            <p> {{item}} </p>
        }
        <p><strong>Rating: </strong>{{ product.rating | rating }} ({{product.rating}})</p>
        <p><strong>Likes: </strong>{{ product.number_of_likes }}</p>

        <div class="price-containter">
            <hr>
            <h4>Price</h4>
            <h5>{{ product.price | currency: '₸' : 'symbol':'1.2-2' }}</h5>
        </div>

        <div class="buttons-container ">
            <a [href]="product.link" target="_blank">
                <app-primary-button label="Link" class="kaspi-link"/>
            </a>
    
            <a [href]="'https://t.me/share/url?url=' + 
                encodeProductURI(product.link) + '&text=' + 
                encodeProductURI('Check out this amazing product!')" 
                target="_blank"
            >
                <app-primary-button label="Share"/>
            </a>
        </div>

          
        <button>

        </button>

    </div>


</div>

