<div class="album-list-container">
    @for (album of albums; track $index) {
        <a routerLink="/albums/{{ album.id }}">
            <div class="album-container">
                <div class="album-remove-button-container">
                    <div class="album-remove-button" (click)="deleteAlbum(album.id)">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16" >
                            <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"/>
                        </svg>
                    </div>
                </div>
    
                <h3>Title: {{ album.title }}</h3>
                <div class="album-info-container">
                    <div class="album-ids-contatiner">
                        <p>ID: {{ album.id }}</p>
                        <p>UserId: {{ album.userId }}</p>
                    </div>
                    <app-secondary-button linkLabel="View Details" link="/albums/{{ album.id }}"></app-secondary-button>
                </div>
    
                
            </div>
        </a>

    }
</div>
